@font-face {
  font-family: 'avengeance';
  src: url('avengeance.woff') format('woff'), 
   url('avengeance.ttf') format('truetype'); 
} 

header,a,button{
	height: 100%;
	font: inherit;
	font-family: "avengeance";
	font-size: 25px;
}

body{
	background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url("https://cf.geekdo-images.com/imagepagezoom/img/LMQlndZ4FNQM02EMnoPCrKIRvxg=/fit-in/1200x900/filters:no_upscale()/pic1430769.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
  /*background-attachment: fixed;*/
  	background-size: cover;
}

.center{
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

.box{
	border: 1px solid black;
	width: 70%;	
	margin-top: 50px;
	margin-bottom: 50px;
}

a{
	margin: 15px;
}
button{
	margin-bottom: 20px;
	margin-top: 20px;
}

@media (min-width: 640px){
	.labelDiv{
		display: inline;
	}
}