@font-face {
  font-family: 'avengeance';
  src: url('avengeance.woff') format('woff'), 
   url('avengeance.ttf') format('truetype'); 
} 

header,button,h2{
	height: 100%;
	font: inherit;
	font-family: "avengeance";
	font-size: 25px;
}

header{
	margin-top: 10px;
}

body{
	background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url("https://cf.geekdo-images.com/imagepagezoom/img/LMQlndZ4FNQM02EMnoPCrKIRvxg=/fit-in/1200x900/filters:no_upscale()/pic1430769.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
  /*background-attachment: fixed;*/
  	background-size: cover;
}

.navBack{
	background-color: rgb(0,9,85);
}

.center{
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

.box{
	border: 1px solid black;
	width: 70%;	
	margin-top: 100px;
	margin-bottom: 50px;
	padding: 10px;
	background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7))
}

.filterTable{
	display: none;
}

.filterTableppt{
	display: none;
}

.scoreTableppt{
	display: none;
}

.scoreTableTotal{
	display:inherit;
}

.selectDiv{
	margin: 10px;
}

.backgroundTable{
	background-color: rgba(0,9,85,0.6);
	color: white;
}

.removeColumn{
	display: none;
}

.smallSelect{
	width: 178px;
}

table, td, th{
	border: 1px solid black;
    padding: 5px;
}

@media (min-width: 640px){

	.removeColumn{
		display: table-cell;
	}
}